body {
  margin: 0;
  padding: 0;
  background: #400D12!important;
  font-family: arial, courier, helvetica;
}

.room-intro {
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
  width: 400px;
  height: 200px;
  margin: auto;
  padding: 10px;
  background: #fff;
  border-radius: 2px;
  z-index: 10;
}

.room-intro h4 {
  text-align: center;
  margin-bottom: 20px;
}

.video-box {
  position: relative;
  display: inline-block;
}

.vid-1 {
  width: 100%;
}

.vid-2 {
  width: 50%;
}

.vid-3 {
  width: 50%;
}

.vid-4 {
  width: 50%;
}

.vid-5 {
  width: 33%;
}

.vid-6 {
  width: 33%;
}

.vid-7 {
  width: 33%;
}

.vid-8 {
  width: 33%;
}

.label {
  display: block;
  font-size: 11px;
}

.box {
  width: 100%;
}

.join input {
  width: 60%;
}

.or-divider {
  margin: 10px auto;
  width: 30px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  background: #fff;
  padding: 10px;
}

.quote {
  font-size: 15px;
  color: #fff!important;
  padding: 3px 5px;
  background: #28a745!important;
  border-radius: 5px;
  cursor: pointer;
}

.actions {
  position: absolute;
  margin: auto;
	top: 15px;
  right: 15px;
}

.disconnect-btn {
  background: URL('../static/cancel-phone-call-function-end-512.png');
  background-size: contain;
  cursor: pointer;
  width: 40px;
  height: 40px;
}

.screen-share-btn {
  background: URL('../static/screen-share.png');
  background-size: contain;
  cursor: pointer;
  width: 40px;
  height: 40px;
}

.stop-screen-share-btn {
  background: URL('../static/stop-screen-share.png');
  background-size: contain;
  cursor: pointer;
  width: 40px;
  height: 40px;
}
